/* modal.css */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0; /* Ensure the modal overlay is on top of the header */
}
.modal-content {
  margin: 0 auto; /* Center the modal content horizontally */
  max-width: 400px; /* Adjust the width as needed */
  max-height: 80vh; /* Set a maximum height using viewport height units */
  padding: 20px; /* Add padding for spacing inside the modal content */
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: auto;
}
.modal {
  background-color: transparent; /* Set the background to transparent */
  font-family: 'Playfair Display', serif;
  padding: 0; /* Remove padding from the modal */
  border: none; /* Remove border from the modal */
  text-align: center;
  position: relative;
}
.close-button {
  background-color: #5e677a;
  color: #fff;
  border: 4px solid #ffabdc; 
  border-radius: 4px;
  font-family: 'Playfair Display', serif;
  font-size: 12px;
  cursor: pointer;
  padding: 6px 8px;
  margin-top: 10px;
  transition: background-color 0.3s;
}
.close-button:hover {
  background-color: #2f4164;
}

